<h4><%= @process_template.description %></h4>
<input type="hidden" id="hidden-process_template_id" name="process_entity[process_template_id]" value="<%= @process_template.id %>">
<div>
  <%= template_to_html(@process_template) %>
</div>
<script type="text/javascript">
    $(
            $('.format_part').on('keyup blur', function (event) {
                var e = adapt_event(event);
                console.log(e)
                if ((e.type == 'keyup' && ( e.keyCode == 13 || e.keyCode == 9)) || (e.type == 'blur')) {
                    if ($(this).val() != '') {
                        validate_custom_field_part($(this).attr('field'), $(this).val(), function (data) {
                            if (data.result) {

                            }
                            else {
                                alert(data.content);
                            }
                        });
                    }
                }
            })
    )
</script>