<h4>Editing crimp_configuration</h4>
<hr/>
<%= render 'form' %>

<hr/>
<%= link_to 'Show', @crimp_configuration, :class => 'btn btn-primary', :style => 'color:white' %>
<%= link_to 'Back', crimp_configurations_path, :class => 'btn btn-primary', :style => 'color:white;margin-left:20px;' %>
