<h4>Editing crimp_configuration</h4>
<hr/>
<%= render 'form' %>

<hr/>
<%= link_to '详细', @crimp_configuration, :class => 'btn btn-primary', :style => 'color:white' %>
<%= link_to '返回', crimp_configurations_path, :class => 'btn btn-primary', :style => 'color:white;margin-left:10px;' %>
