<ul>
  <% bom.each do |b| %>
      <li>
        <a href='#'><%= b.node.nr %>/<%= b.node.quantity %>#deep:<%=b.deep%></a>
        <% if b.children %>
            <%= render partial: 'node', locals: {bom: b.children} %>
        <% end %>
      </li>
  <% end %>
</ul>