<div>
  <p><h3>Search Part Bom</h3></p>
  <form action="/part_boms/search" method="get">
    <input name="part_nr" id="part_nr" value="<%= @part_nr %>"/>
    <input type="submit" value="GET">
  </form>
</div>