<div class="field">
  input process template no:
  <input type="text" id="process_template_code">
</div>

<%= form_for(@process_entity) do |f| %>
    <% if @process_entity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@process_entity.errors.count, "error") %> prohibited this part from being saved:</h2>

          <ul>
            <% @process_entity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <label for="process_entity_nr">Nr</label>
      <input id="process_entity_nr" name="process_entity[nr]" type="text" value=""/>
    </div>
    <div class="field">
      <label for="process_entity_name">Name</label>
      <input id="process_entity_name" name="process_entity[name]" type="text" value=""/>
    </div>
    <div class="field">
      <label for="process_entity_description">Description</label>
      <textarea id="process_entity_description" name="process_entity[description]">
</textarea>
    </div>
    <div class="field">
      <label for="process_entity_stand_time">Stand time</label>
      <input id="process_entity_stand_time" name="process_entity[stand_time]" type="text" value="0.0"/>
    </div>

    <div class="field">
      <label for="process_entity_process_template_id">Process template</label>
      <input id="process_entity_process_template_id" name="process_entity[process_template_id]" type="text"/>
    </div>

    <div class="field">
      <label for="process_entity_workstation_type_id">Workstation type</label>
      <input id="process_entity_workstation_type_id" name="process_entity[workstation_type_id]" type="text"/>
    </div>
    <div class="field">
      <label for="process_entity_cost_center_id">Cost center</label>
      <input id="process_entity_cost_center_id" name="process_entity[cost_center_id]" type="text"/>
    </div>
    <div class="process_template_container">

    </div>
    <div class="actions">
      <input type="button" value="Create Process entity" onclick="create_process_auto();"/>
    </div>
<% end %>

<script type="text/javascript">
    $(
            $('#process_template_code').bind('keyup', function (event) {
                var e = adapt_event(event);
                if (e.keyCode == 13) {
                    load_process_template_partial($(this).val(), function (template) {
                        $('.process_template_container').html(template)
                    });
                }
            })
    )
    function create_process_auto() {
        if (confirm('confirm to create AUTO process?')) {
            $('#new_process_entity').submit();
        }
    }
</script>