<ul class="list-group">
  <% @process_entities.each do |pe|%>
  <li class="list-group-item list-group-item-warning"><input class="select-routing" type="checkbox"/><%= render partial: 'simple', locals:{process_entity:pe}%></li>
  <% end %>
</ul>