<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <label>NR:</label>
        <ins><%= process_entity.nr %></ins>
        /
        <label>Name:</label>
        <ins><%= process_entity.name%></ins>
      </li>
    </ul>
  </div>
  <!--<div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Process template:
      </div>
      <div class="panel-ody">
        <ins><%= simple_format(process_entity.template_text) if process_entity.process_template.template %></ins>
      </div>
    </div>
  </div>-->
</div>


