<!--<h3>Editing wire_group</h3>-->
<%= render 'form' %>

<%= link_to '详细', @wire_group, :class => 'btn btn-primary', :style => 'color:white' %>
<%= link_to '返回', wire_groups_path, :class => 'btn btn-primary', :style => 'color:white;margin-left:10px;' %>
