<!--<h3>New wire_group</h3>-->
<style type="text/css">
    label {
        font-size: 1.2em;
    }
</style>
<hr/>
<%= render 'form' %>

<%= link_to '返回', wire_groups_path, :class => 'btn btn-primary', :style => 'color:white;' %>
