<% if true#page_title(current_model,current_action) %>
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-2">
    <%= render partial: 'shared/sidebar' if @hide_sidebar.nil? %>
  </div>
  <div class="col-md-10">
    <div class="row" id="result">
      <div class="panel panel-success">
        <div class="panel-heading ">
          <h1><%= page_title(current_model,current_action)%></h1>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>