<div class="panel panel-success">
  <div class="panel-heading ">
    <h1>建立生产任务</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h4>说明</h4>
        <p class="text-warning"> 创建KANBAN卡，并且为KANBAN卡关联Routing</p>
      </div>
    </div>
  </div>
</div>