<div class="side-menu-container">
  <ul class="nav navbar-nav">
    <li class="<%= 'active' if current_page?({controller:'kanbans',action:'new'})%>">
      <a  href="<%= new_kanban_path%>"><span class="glyphicon glyphicon-plus"></span> 建立KANBAN卡</a>
    </li>
    <li class="<%= 'active' if current_page?({controller:'kanbans',action:'index'})%>">
      <a href="<%= kanbans_path%>"><span class="glyphicon glyphicon-th"></span> KANBAN卡列表</a>
    </li>
  </ul>
</div>