<h2>Versioned Kanbans</h2>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Created at</th>
    <th>Event</th>
    <th>Object</th>
  </tr>
  </thead>

  <tbody>
  <% @versions.each do |v| %>
      <tr>
        <td><%= v.created_at %></td>
        <td><%= v.event %></td>
        <td><%= v.reify.to_json %></td>
      </tr>
  <% end %>
  </tbody>
</table>