<script type="text/javascript">
    $(document).ready(function(){
        data_upload("#item-data-uploader");
    });
</script>
<h1>&nbsp;</h1>
<p id="notice">
  <%= notice %>
</p>
<h3>上传Part文件</h3>
<div>
  选择数据文件：
  <input id="item-data-uploader" type="file" name="files[]" data-url="/kanbans/import"/>
  <div id="item-data-uploader-preview" style="display:none;"></div>
  <div>
    <a href="/files/<%= ImportTemplate.kanban_csv_template %>">下载模板：<%= ImportTemplate::KANBAN_CSV_TEMPLATE %></a>
  </div>
</div>