<div class="panel panel-default">
  <div class="panel-heading">
    <%= render partial: 'search' %>
    <%= link_to "导出与Kanban总成号不一致的步骤",export_routing_error_kanbans_path,class:'btn btn-warning'%>
  </div>
  <div class="panel-body" id="search_Kanban_Res">
    <%= render partial: 'list' %>
  </div>
</div>