<div class="panel panel-success">
  <div class="panel-heading ">
    <h1>KANBAN扫描</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
        	<div class="col-md-5">
        		<div class="form-group">
        			<label>扫描KANBAN条形码</label>
        			<input type="text" id="scan_Kanban" class="form-control"></input>
        		</div>
        	</div>
        </div>
      </div>
      <div class="col-md-2">
        <h4>说明</h4>
        <p class="text-warning">扫描KANBAN，优化生产订单</p>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "kanban" %>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		$('#scan_Kanban').on('keypress',function(event){
			var kanban_id = $('#scan_Kanban').val();
			if(kanban_id.length>0&&event.keyCode==13){
				pms.kanban.scan(kanban_id,function(data){
                  console.log(data);
              })
			}
		});
	});
</script>