<div>
  <%= link_to "导入投卡", import_to_scan_kanbans_path, class: "btn btn-default" %>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>扫描投卡<input type="text" id="scan_Kanban" class="form-control"/></label>

          <div class="info-warn-div" id="message-div" style="font-size: 20px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "kanban" %>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#scan_Kanban').on('keypress', function (event) {
            var kanban_id = $('#scan_Kanban').val();
            if (kanban_id.length > 0 && event.keyCode == 13) {
                pms.kanban.scan(kanban_id, function (data) {
                    if (data.result) {
//                        swal("投卡成功！");
                        $("#message-div").text(kanban_id + ",投卡成功！");
                        $('#scan_Kanban').val('');
                    }
                    else {
                        swal(data.content);
                        $("#message-div").text('');
                    }
                })
            }
        });
    });
</script>