<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <label>扫描KANBAN，投卡</label>
      <input type="text" id="scan_Kanban" class="form-control"></input>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <label>扫描KANBAN，销卡</label>
      <input type="text" id="scan_Kanban_Destroy" class="form-control"></input>
    </div>
  </div>
</div>
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "kanban" %>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#scan_Kanban').on('keypress', function (event) {
            var kanban_id = $('#scan_Kanban').val();
            if (kanban_id.length > 0 && event.keyCode == 13) {
                pms.kanban.scan(kanban_id, function (data) {
                    console.log(data);
                })
            }
        });
    });
</script>