<h1>Editing production_order_handler_list_item</h1>

<%= render 'form' %>

<%= link_to 'Show', @production_order_handler_list_item %> |
<%= link_to 'Back', production_order_handler_list_items_path %>
