<!--<h1>Editing custom_detail</h1>-->

<%= render 'form' %>

<hr/>
<%= link_to '详细', @custom_detail, :class => 'btn btn-primary', :style => 'color:white' %>
<%= link_to '返回', custom_details_path, :class => 'btn btn-primary', :style => 'color:white' %>
