<div>
  <h2>PMS</h2>
  <a href="#modal-two" class="btn btn-big" onclick="show()">Modal!</a>
  <script type="text/javascript">
      function show(){
          sweetAlert("Hello world!");
      }
  </script>
</div>