<h4>Editing measured_value_record</h4>
<hr/>
<%= render 'form' %>

<hr/>
<%= link_to 'Show', @measured_value_record, :class => 'btn btn-primary', :style => 'color:white;' %>
<%= link_to 'Back', measured_value_records_path, :class => 'btn btn-primary', :style => 'color:white;margin-left:20px;' %>
